<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bootvue.admin.mapper.MenuMapper">
    <select id="menus" resultType="com.bootvue.admin.dto.MenuItem">
        SELECT m.id                                             id,
               m.title                                          title,
               m.p_id                                           pid,
               (select p.title from menu p where p.id = m.p_id) ptitle,
               m.`key`                                          `key`,
               m.path                                           path,
               m.icon                                           icon,
               m.`sort`                                         `sort`,
               m.`type`                                         `type`,
               m.`action`                                       `action`,
               m.`show`                                         `show`,
               m.default_select                                 default_select,
               m.default_open                                   default_open
        FROM menu m
    </select>
</mapper>