<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.core.mapper.ActionMapper">
    <select id="getActions" resultType="com.bootvue.core.entity.Action">
        select *
        from action a
        <where>
            <if test="api != null and api != ''">
                a.api like concat('%', #{api}, '%')
            </if>
        </where>
    </select>
</mapper>