<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.core.mapper.AdminMapper">
    <select id="listAdmin" resultType="com.bootvue.core.entity.Admin">
        select a.*
        from `admin` a
        <where>
            <if test="username != null and username != ''">
                and a.username like concat('%', #{username}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and a.phone like concat('%', #{phone}, '%')
            </if>
        </where>
        order by a.create_time asc
    </select>

    <select id="findByUserNameOrPhone" resultType="com.bootvue.core.entity.Admin">
        select *
        from `admin`
                where username = #{username}
        <if test="phone != null and phone != ''">
            or phone = #{phone}
        </if>
    </select>
</mapper>