<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.core.mapper.AdminMapper">
    <select id="listAdmins" resultType="com.bootvue.core.ddo.admin.AdminDo">
        SELECT a.id          id,
               a.username    username,
               r.id          roleId,
               r.`name`      role,
               t.id          tenant_id,
               t.name        tenant_name,
               a.phone       phone,
               a.`status`    status,
               a.create_time create_time
        FROM `admin` a
                     LEFT JOIN role r ON (a.role_id = r.id)
                     left join tenant t on (a.tenant_id = t.id)
                where a.delete_time is null
        <if test="tenant_id > 1">
            and a.tenant_id = #{tenant_id}
        </if>
        <if test="username != null and username != ''">
            and a.username = concat('%', #{username}, '%')
        </if>
        order by a.create_time desc
    </select>

    <select id="listAdminsByRoleName" resultType="java.lang.Long">
        SELECT a.id
        FROM `admin` a,
             role r
        WHERE a.tenant_id = #{tenant_id}
          AND a.role_id = r.id
          AND r.`name` = #{role_name}
          and a.delete_time is null
        order by a.create_time asc
    </select>

    <update id="batchUpdateRole">
        UPDATE `admin` a
        SET a.role_id    = #{role_id},
            a.update_time=now(3)
                WHERE a.id IN
        <foreach collection="selected_keys" item="key" open="(" close=")" separator=",">
            #{key}
        </foreach>
        AND a.tenant_id = #{tenant_id}
        and a.delete_time is null
    </update>

    <update id="batchCancelRole">
        UPDATE `admin` a
        SET a.role_id    = 0,
            a.update_time=now(3)
                WHERE a.id IN
        <foreach collection="un_selected_keys" item="key" open="(" close=")" separator=",">
            #{key}
        </foreach>
        AND a.tenant_id = #{tenant_id}
        and a.role_id = #{role_id}
        and a.delete_time is null
    </update>

    <update id="batchUpdateStatusByTenantId">
        update admin a
        set a.status =#{status}
        where a.tenant_id = #{tenant_id}
    </update>
</mapper>