<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.core.mapper.MenuMapper">
    <select id="listMenu" resultType="com.bootvue.core.dto.menu.MenuListDo">
        select m.`id`                                           `id`,
               m.`title`                                        `title`,
               m.`sort`                                         `sort`,
               m.`key`                                          `key`,
               m.`path`                                         `path`,
               m.`icon`                                         `icon`,
               m.`p_id`                                         `p_id`,
               (select `title` from menu where `id` = m.`p_id`) `parent`,
               m.`show`                                         `show`,
               m.`default_select`                               `default_select`,
               m.`default_open`                                 `default_open`
        from menu m
        order by m.`sort` asc
    </select>
</mapper>