<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.core.mapper.RoleMenuMapper">
    <select id="findMenuIdByRoleId" resultType="com.bootvue.core.dto.RoleMenuDo">
        select r.role_id                        role_id,
               group_concat(distinct r.menu_id) menu_ids
        from role_menu r
                where r.role_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        group by r.role_id
    </select>
</mapper>