<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.core.mapper.RoleMenuActionMapper">
    <select id="findByRoleIdAndMenuKey" resultType="com.bootvue.core.entity.RoleMenuAction">
        select *
        from role_menu_action rma
        where rma.role_id = #{role_id}
          and rma.menu_id = (
                select m.id
                from menu m
                where m.`key` = #{key}
                )
    </select>

    <insert id="addRoleMenuActionItem">
        insert into role_menu_action (id, role_id, menu_id, action_ids)
        VALUES (null, #{role_id}, (select m.id from menu m where m.`key` = #{key}), #{ids})
    </insert>
</mapper>