<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.admin.mapper.AdminMapper">
    <resultMap id="adminListMap" type="com.bootvue.admin.controller.setting.dto.AdminListOut">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="tenantName" column="tenant_name"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteTime" column="delete_time"/>
        <collection property="roles" ofType="com.bootvue.db.entity.Role" column="id"
                    select="com.bootvue.admin.mapper.RoleMapper.listRoleByAdminId"
        />
    </resultMap>

    <select id="listAdmin" resultMap="adminListMap">
        select a.id          id,
               a.username    username,
               a.phone       phone,
               a.status      status,
               t.id          tenant_id,
               t.name        tenant_name,
               a.create_time create_time,
               a.delete_time delete_time
        from `admin` a,
             tenant t
                where t.id = a.tenant_id
        <if test="username != null and username != ''">
            and a.username like concat('%', #{username}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and a.phone like concat('%', #{phone}, '%')
        </if>
        <if test="tenant_id != null">
            and a.tenant_id = #{tenant_id}
        </if>
        order by a.create_time asc
    </select>

    <select id="findByUserNameOrPhone" resultType="com.bootvue.db.entity.Admin">
        select *
        from `admin`
                where username = #{username}
        <if test="phone != null and phone != ''">
            or phone = #{phone}
        </if>
    </select>
</mapper>