<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.admin.mapper.RoleMenuMapper">
    <select id="findMenuIdsByRoleIds" resultType="java.lang.Long">
        select rm.menu_id
        from role_menu rm
        where rm.role_id in
        <foreach collection="role_ids" item="role_id" separator="," open="(" close=")">
            #{role_id}
        </foreach>
    </select>
</mapper>